.container {
  font-family: 'Source Sans Pro';
  background:red;
  margin:0;
  color:white;
  display: grid;
  
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
    
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  
  height: 100vh;
}

header {
  grid-area: header;
  background:#FFFFFF;
}
  
nav {
  grid-area: nav;
  margin-left:  0.5rem;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
}

footer {
  grid-area: footer;
  background:#571212;
}

a {
    text-decoration:none;
    color:red;
    font-size:1.8em;
    font-weight:700;
}

img { 
    width:150px;
    justify-self:center;
}

