.container {
  font-family: 'Source Sans Pro';
  background:red;
  margin:0;
  color:white;
  display: grid;
  
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
    
  grid-template-columns: 200px 1fr 0px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  
  height: 100vh;
}

header {
  grid-area: header;
  background: #FFFFFF;
  border-style: solid;
  border-color: black;
}

header a {
    text-decoration:none;
    color:red;
    font-size:1.8em;
    font-weight:700;
}
  
nav {
  grid-area: nav;
  margin-left:  0.5rem;
  background: #FF9933;
  border-style: solid;
  border-color: black;
}

nav a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

nav a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

nav a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

main {
  grid-area: content;
  background: #CC6600;
  border-style: solid;
  border-color: black;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
  background: #996600;
  border-style: solid;
  border-color: black;
}

footer {
  grid-area: footer;
  background:#571212;
  border-style: solid;
  border-color: black;
}


img { 
    width:150px;
    justify-self:center;
}

